<h1 style="font-family: Arial, sans-serif; color: #86A612; font-size: 60px; font-weight: bold;">Pieski do adopcji</h1>
<br>

<style>
    .kafle-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .kafel {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

        .kafel img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease-in-out;
        }

        .kafel p {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-align: center;
            margin: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .kafel:hover img {
            transform: scale(1.1);
        }


        .kafel:hover p {
            opacity: 1;
        }
</style>


@if (Session["UserName"] != null)
{
    <p>
        @Html.ActionLink("+ Dodaj Pieska", "Add")
    </p>
}

<form method="get" style="display: flex; gap: 10px; margin-bottom: 10px;">
    <div style="display: flex; align-items: center;">
        <label for="rasa" style="margin-right: 5px;">Rasa:</label>
        <input type="text" name="rasa" id="rasa" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;" list="rasa-list" value="@ViewBag.WybranaRasa">
        <datalist id="rasa-list">
            <option value="">Wszystkie</option>
            <option value="labrador">Labrador Retriever</option>
            <option value="owczarek">Owczarek niemiecki</option>
            <option value="golden">Golden Retriever</option>
            <option value="yorkshire">Yorkshire Terrier</option>
            <option value="buldog">Bulldog francuski</option>
            <option value="jackrussell">Jack Russell Terrier</option>
            <option value="bordercollie">Border Collie</option>
            <option value="sznaucer">Sznaucer miniaturowy</option>
            <option value="shihtzu">Shih Tzu</option>
            <option value="chihuahua">Chihuahua</option>
            <option value="beagle">Beagle</option>
            <option value="cockerspaniel">Cocker Spaniel</option>
            <option value="goldendoodle">Golden Doodle</option>
            <option value="bernersennenhund">Berner Sennenhund</option>
            <option value="amstaff">Amstaff</option>
            <option value="westhighland">West Highland White Terrier</option>
            <option value="husky">Siberian Husky</option>
            <option value="boxer">Boxer</option>
            <option value="cavalierkingcharles">Cavalier King Charles Spaniel</option>
            <option value="rottweiler">Rottweiler</option>
        </datalist>
    </div>
    <div style="display: flex; align-items: center;">
        <label for="plec" style="margin-right: 5px;">Płeć:</label>
        <select name="plec" id="plec" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
            <option value="">Wszystkie</option>
            <option value="samiec" @if (Request.QueryString["plec"] == "samiec") { <text> selected</text> }>Samiec</option>
            <option value="samica" @if (Request.QueryString["plec"] == "samica") { <text> selected</text> }>Samica</option>
        </select>
    </div>
    <div style="display: flex; align-items: center;">
        <label for="wiek" style="margin-right: 5px;">Wiek:</label>
        <input type="number" name="wiek" id="wiek" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;" value="@ViewBag.WybranyWiek" min="0">
    </div>
    <div style="display: flex; align-items: center;">
        <label for="aktywny" style="margin-right: 5px;">Aktywny:</label>
        <select name="aktywny" id="aktywny" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
            <option value="">Wszystkie</option>
            <option value="tak" @if (Request.QueryString["aktywny"] == "tak") { <text> selected</text> }>Tak</option>
            <option value="nie" @if (Request.QueryString["aktywny"] == "nie") { <text> selected</text> }>Nie</option>
        </select>
    </div>
    <div style="display: flex; align-items: center;">
        <label for="lubi_dzieci" style="margin-right: 5px;">Lubi dzieci:</label>
        <select name="lubi_dzieci" id="lubi_dzieci" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
            <option value="">Wszystkie</option>
            <option value="tak" @if (Request.QueryString["lubi_dzieci"] == "tak") { <text> selected</text> }>Tak</option>
            <option value="nie" @if (Request.QueryString["lubi_dzieci"] == "nie") { <text> selected</text> }>Nie</option>
        </select>
    </div>
    <div style="display: flex; align-items: center;">
        <label for="lubi_psy" style="margin-right: 5px;">Lubi psy:</label>
        <select name="lubi_psy" id="lubi_psy" style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
            <option value="">Wszystkie</option>
            <option value="tak" @if (Request.QueryString["lubi_psy"] == "tak") { <text> selected</text> }>Tak</option>
            <option value="nie" @if (Request.QueryString["lubi_psy"] == "nie") { <text> selected</text> }>Nie</option>
        </select>
    </div>
    <button type="submit" style="background-color: #86A612; color: #fff; border: none; padding: 7px; border-radius: 5px;">Filtruj</button>
</form>


<body>
    <div class="kafle-container">
        @foreach (var piesek in ViewBag.Pieski)
        {
            <div class="kafel">
                <a href="@Url.Action("Profile", new { id = piesek.Id })">
                    <img src="@piesek.Zdjecie" alt="Zdjęcie psa">
                </a>
                <p>@piesek.Imie</p>
            </div>
        }
    </div>
</body>
